# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/narayani/backend.pestcontrolnearme.in"
PassengerBaseURI "/"
PassengerNodejs "/home/narayani/nodevenv/backend.pestcontrolnearme.in/18/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END